@import "modal.css";

body {
  background-color: black;
}

.instructions{
  color: white;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  padding-top: 1%;
  margin-right: auto;
  width: 100%;
  font-weight: 500;
  font: helvetica;
  font-family: sans-serif;
  font-size: 130%;
  height: 6%;
  display: block;
  white-space: nowrap;
  opacity: 0.3;
}

canvas {
  padding: 0;
  display: block;
  margin: auto;
  background-color: black;
  margin-top: 5%;
  width: 85%;
  background-size: contain;
  background-image:url("../lib/images/tron.jpg");
  opacity: 0.3;
}

.buttons {
  text-align: center;
}

.submit, .clear, .directions {
  background-color: white;
  display: inline-block;
  color: #575757;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 95%;
  width: 15%;
  padding: 8px 0;
  border-radius: 5px;
}
.submit:hover, .clear:hover, .directions:hover {
  cursor: pointer;
  background-color: #FFB000;
}

.directions {
  background-color: yellow;
  left: 10%;
}


.clear {
  background-color: #FF6666;
}



.hidden {
  display: none;
}
