canvas {
  padding: 0;
  display: block;
  width: 80%;
  background-size: contain;
  background-image: url("http://orig05.deviantart.net/3e8b/f/2011/292/9/9/tron_grid_wallpaper_1680x1050_by_sarah_hextall_design-d4dajzv.jpg")
}
